.entrenamiento{
    .buttons{
        margin: 30px;
        .btn{
            margin: 10px;
            box-shadow: #000 2px 2px 2px;
            &:active{
                box-shadow: none;
            }
        }

    }
}